/* this is where I pad the game screen*/
body {
    margin: 0;
    padding: 0;
}

/* this is where I design my Game Screen*/
#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}
/*This is where have my font and editited to look the way I want*/
h1, h2, h3 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid black;
    border-radius: 10px;
}

#restartButton:hover {
    background-color:darkolivegreen;
}

#scoreboard {
    margin: 0px;
}

#startScreen{
    position: absolute;
    visibility: hidden;
}

#playbutton{
    border: 2px solid black;
    border-radius: 10px;
}

#playbutton:hover {
    background-color:darkolivegreen;
}

h2 {
    padding-left: 640px
}

